<%- include("./partials/header") %>

    <h1>Profile page</h1>
    <h2>Welcome <%= user.name %></h2>
    <img src="<%= user.tumbnail %>" alt=""/>
    <h3><%= user.email %></h3>

<%- include("./partials/footer") %>